/* Empty. Add your own CSS if you like */

.container {
    height: 100vh;
    /*    width: 100vw;*/
    position: relative;
    /*    background-image: url(../img/darkBg.png);*/
}
.question-container {
    height: 20% !important;
    display: none;
}
.avatar-container {
    height: 45%;
    text-align: center;
}
.avatar {
    padding-top: 10px;
    /*    padding-left: 35%;*/
}
.question-container {
    height: 20% !important;
    /*    background-color: cadetblue;*/
    padding: 1rem;
    background-image: url(../img/questionBg.jpeg);
    background-size: cover;
    display: table;
    width: 100%;
}
.question {
    text-align: center;
    color: black;
    font-size: 1.1rem;
    height: 80%;
    width: 90%;
    padding: 10px;
    /*    background-color: beige;*/
    background-image: url(../img/overlay70.png);
    background-size: cover;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
    vertical-align: middle;
    /*    line-height: 2rem;*/
}
.background-pane {
    background-image: url(../img/overlay70.png);
    background-size: cover;
}
.answer-choices-container {
    height: 25%;
    /*    background-color: aqua;*/
    padding-top: 1rem;
    /*    border-bottom: 2px solid black;*/
}
.answer-choices {
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    padding: .5rem;
    width: 48%;
    margin-left: 5px;
    margin-bottom: 1rem;
}
.avatar-message {
    padding-top: 10px;
}
.avatar-image {
    height: 12rem;
}
.organizing {
    display: block;
}
.center {
    margin: 0 auto;
}
.right-footer {
    float: right;
    padding-right: 25px;
}
.first-time-message {
    position: absolute;
    top: 0;
    right: 0;
    background-color: beige;
    z-index: 999;
    height: 100%;
    padding: 20px;
    /*    opacity: .5;*/
}
ion-content {
    /*
    background-image: url(../img/darkBg.png);
    background-size: cover;
*/
}
.start-playing-button {
    width: 80%;
    margin: 0 auto;
}
.selected {
    background-color: green !important;
    color: white !important;
}
.decription-image {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    max-height: 40vh;
}
.headline {
    font-family: 'Quando', serif;
    font-size: 2.2rem;
    margin: 0 auto;
    margin-bottom: .9rem;
    margin-top: .8rem;
}
.animate-point-container {
    display: block;
    /*    top: 10%;*/
    padding-top: 5%;
    position: relative;
    height: 90%;
}
.animate-answer-choices {
    display: block;
    top: 10%;
    position: relative;
    height: 90%;
}
.headline2 {
    font-size: 1.5rem;
    font-family: 'Judson', serif;
    margin: 0 auto;
    margin-bottom: .8rem;
}
.headline-score {
    font-size: 1rem;
    font-family: 'Judson', serif;
    margin: 0 auto;
}

/** QUESTION PAGE **/

.submit-question-form {
    width: 90%;
    margin: 0 auto;
}
.general-question-input {
    width: 100%;
    border: 1px solid black !important;
    margin-bottom: 20px;
}
.question-submit-text {
    font-family: 'Judson', serif;
    font-size: 1rem;
    padding: 5px;
}

/*** ANIMATIONS **/

.question-container.ng-hide-add {
    animation: 0.5s slideInUp ease;
}
.question-container.ng-hide-remove {
    animation: 0.5s slideOutUp ease;
}
.show-container {
    display: block !important;
    animation: 0.5s slideInUp ease;
}
.avatar.ng-hide-add {
    animation: 0.1s fadeIn ease;
}
.avatar.ng-hide-remove {
    animation: 0.1s fadeIn ease;
}

/*
.question-container.ng-hide {
  height:0;
  opacity:0;
  padding:0;
}

.question-container.ng-hide-remove,
.question-container.ng-hide-add {
  display: block !important;
  transition: all linear 300ms;
}
*/


/*
.animate-answer-choices.ng-leave {
    animation: 0.5s slideOutLeft ease;
}

.animate-answer-choices.ng-enter {
    animation: 0.5s slideInRight ease;
}

.animate-point-container.ng-leave {
    animation: 0.5s slideOutLeft ease;
}

.animate-point-container.ng-enter {
    animation: 0.5s fadeIn ease;
}
*/

@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
}
@-webkit-keyframes slideOutUp {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}
@keyframes slideOutUp {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}
.slideOutUp {
    -webkit-animation-name: slideOutUp;
    animation-name: slideOutUp;
}
@-webkit-keyframes slideOutLeft {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        visibility: hidden;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}
@keyframes slideOutLeft {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        visibility: hidden;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}
.slideOutLeft {
    -webkit-animation-name: slideOutLeft;
    animation-name: slideOutLeft;
}
@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
}
@-webkit-keyframes fadeInRightBig {
    from {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
        transform: translate3d(2000px, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInRightBig {
    from {
        opacity: 0;
        -webkit-transform: translate3d(4000px, 0, 0);
        transform: translate3d(4000px, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.fadeInRightBig {
    -webkit-animation-name: fadeInRightBig;
    animation-name: fadeInRightBig;
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

/** new animations **/

.item-animate {
    left: 0;
}
.item-animate.ng-hide-add,
.item-animate.ng-hide-remove {
    display: block !important;
    left: 0;
}
.item-animate-point.ng-hide-add {
    -webkit-animation: 1s hide;
    animation: 1s hide;
    opacity: 0;
    top: -79%;
}
.item-animate-answer.ng-hide-remove {
    -webkit-animation: 1s show;
    animation: 1s show;
    /*    opacity: 0;*/
    /*    top: 0%;*/
}
@keyframes hide {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}
@-webkit-keyframes hide {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}
.item-animate-point.ng-hide-remove {
    -webkit-animation: 1s show;
    animation: 1s show;
    /*    opacity: 0;*/
    top: -90%;
}
.item-animate-answer.ng-hide-add {
    -webkit-animation: 1s hide;
    animation: 1s hide;
    top: 10%;
}
@keyframes show {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}
@-webkit-keyframes show {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

/** MODAL **/

.description-header {
    font-family: 'Quado', serif;
    margin-bottom: 0px !important;
    margin-top: 7px;
    font-size: 1.7rem;
}
.description-date {
    font-family: 'Judson', serif;
    margin-bottom: 0px;
}
.description-info {
    font-family: 'Judson', serif;
    font-size: 1rem;
}
.description-more-info {
    font-family: 'Judson', serif;
    font-size: 1rem;
}
.description-quote {
    font-family: 'Montserrat', sans-serif;
}
.finished-container {
    text-align: center;
}
