/* Empty. Add your own CSS if you like */

.container {
    height: 100vh;
/*    width: 100vw;*/
    position: relative;
/*    background-image: url(../img/darkBg.png);*/
}

.question-container {
    height: 20% !important;
    
}

.avatar-container {
    height: 50%;
    text-align: center;
}

.avatar {

    padding-top: 20%;
/*    padding-left: 35%;*/
}

.question-container{
    height: 20% !important;
/*    background-color: cadetblue;*/
    padding: 1rem;
    background-image: url(../img/questionBg.jpeg);
    background-size: cover;
    display: table;
    width: 100%;
}

.question{
    text-align: center;
    color: black;
    font-size: 1.1rem;
    height: 80%;
    width: 90%;
    padding: 10px;
/*    background-color: beige;*/
    background-image: url(../img/overlay70.png);
    background-size: cover;
    margin: 0 auto;
    display: table-cell;
  vertical-align: middle;
  vertical-align: middle;
/*    line-height: 2rem;*/
}

.background-pane{
    background-image: url(../img/overlay70.png);
    background-size: cover;
}


.answer-choices-container{
    height: 20%;
/*    background-color: aqua;*/
    padding-top: 1rem;
    border: 2px solid black;
}

.answer-choices{
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    padding: .5rem;
    width: 48%;
    margin-left: 5px;
    margin-bottom: 1rem;
}

.avatar-message {
    padding-top: 10px;
}

.center{
    margin: 0 auto;
}

.right-footer {
    float: right;
    padding-right: 25px;
}

.first-time-message {
    position: absolute;
    top: 0;
    right: 0;
    background-color: beige;
    z-index: 999;
    height: 100%;
    padding: 20px;
/*    opacity: .5;*/
}

ion-content {
/*
    background-image: url(../img/darkBg.png);
    background-size: cover;
*/
}

.start-playing-button {
    width: 80%;
    margin: 0 auto;
}

.selected{
    background-color: green !important;
    color: white !important;
}

.decription-image {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    max-height: 40vh;
}
